.Header {
  color: red;
  min-height: 60px;
  height: 7vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-shades-color);
}

.Header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BrandLogo {
  background-color: var(--main-brand-color);
}

.BrandLogo a {
  font-size: 2rem;
  color: var(--primary-background-color);
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
}
.Header > .NavList {
  width: 40%;
}

.NavList ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.NavList a {
  text-decoration: none;
  color: black;
}

.NavList li {
  list-style: none;
  flex-direction: column;
}
